<div class="lg:container lg:max-w-[1024px] lg:mx-auto lg:rounded-3xl lg:mt-20 lg:mb-28 bg-white">
  <div class="lg:mx-[10rem]">
    <div class="lg:pt-[4rem] pb-8">
      <img class="lg:rounded-3xl mx-auto" src="../../../assets/img/image-omelette.jpeg" alt="omelette">
    </div>
    <div class="mx-8 lg:mx-0">
      <div class="mb-6">
        <h1 class="text-3xl pb-6 font-young-serif">Simple Omelette Recipe</h1>
        <p class="text-wenge-brown font-outfit">An easy and quick dish, perfect fo any meal. This classic omelette
          combines beaten eggs cooked to perfection,
          optionally filled with your choice of cheese, vegetable, or meats</p>
      </div>
      <div class="text-wenge-brown p-5 mb-6 bg-rose-white rounded-2xl">
        <h3 class="text-dark-raspberry text-xl mb-3 font-outfit-semibold">Preparation time</h3>
        <ul class="list-disc mx-7">
          <li><span>Total:</span> Approximately 10 minutes</li>
          <li><span>Preparation:</span> 5 minutes</li>
          <li><span>Cooking:</span> 5 minutes</li>
        </ul>
      </div>
      <div class="mb-6 text-wenge-brown">
        <h2 class="mb-3 text-nutmeg text-[1.75rem] font-young-serif">Ingredients</h2>
        <ul class="list-disc mx-[22px] marker:text-nutmeg marker:text-xs marker:font-outfit-bold">
          <li class="">2-3 large eggs</li>
          <li>Salt, to taste</li>
          <li>Pepper, to taste</li>
          <li>1 tablespoon o butter or oil</li>
          <li class="">Optional fillings: cheese, diced vegetables, cooked meats, herbs</li>
        </ul>
      </div>
      <hr class="mb-6">
      <div class="text-wenge-brown mb-6">
        <h2 class="mb-3 text-nutmeg text-[1.75rem] font-young-serif">Instructions</h2>
        <ol class="list-decimal mx-5 marker:text-nutmeg marker:text-base marker:font-outfit-bold">
          <li><span>Beat the eggs:</span> In a bowl, beat the eggs with a pinch of salt and pepper until they are well
            mixed. You can add a tablespoon of water or milk for a fluffier texture.</li>
          <li><span>Heat the pan:</span> Place a non-stick frying pan over medium heat and add butter or oil.</li>
          <li><span>Cook the omelette:</span> Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to
            ensure the eggs evenly coat the surface.</li>
          <li><span>Add fillings (optional):</span> When the eggs begin to set at the edges but are still slightly runny
            in the middle, sprinkle your chosen fillings over one half of the omelette.</li>
          <li><span>Fold and serve:</span> As the omelette continues to cook, carefully lift one edge and fold it over
            the
            fillings. Let it cook for another minute, then slide it onto a plate.</li>
          <li><span>Enjoy:</span> Serve hot, with additional salt and pepper if needed.</li>
        </ol>
      </div>
      <hr class="mb-6">
      <div class="text-wenge-brown">
        <h2 class="mb-3 text-nutmeg text-[1.75rem] font-young-serif">Nutrition</h2>
        <p class="text-wenge-brown font-outfit mr-1 mb-3 lg:mb-7 ">The table below shows nutritional values per serving without
          the additional fillings.</p>
        <div class="grid grid-cols-5 px-7 pb-10">
          <div class="col-span-2 font-outfit">Calories</div>
          <div class="col-span-3 text-nutmeg font-outfit-bold">277kcal</div>
          <hr class="col-span-full my-3">
          <div class="col-span-2 font-outfit">Carbs</div>
          <div class="col-span-3 text-nutmeg font-outfit-bold">0g</div>
          <hr class="col-span-full my-3">
          <div class="col-span-2 font-outfit">Protein</div>
          <div class="col-span-3 text-nutmeg font-outfit-bold">20g</div>
          <hr class="col-span-full my-3">
          <div class="col-span-2 font-outfit">Fat</div>
          <div class="col-span-3 text-nutmeg font-outfit-bold">22g</div>
        </div>
      </div>
    </div>
  </div>
</div>